version: '3.7'
services:
  dev-db:
    image: postgres:13
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=first
    logging:
      options:
        max-size: 10m
        max-file: "3"
    ports:
      - '5438:5432'